body {
    min-width: 550px;
    overflow-x: hidden;
    background-color: lightyellow;
    /* font-family: cantarell; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: -3px;
    color: orange;
}

a {
    font-size: 0.8em;
    color: navy;
    text-decoration: none;
}

a:hover {
    color: red;
    font-size: 0.9em;
}

.url-popdown {
    font-size: 0.8em;
    color: rgb(79, 109, 109);
}

.url-info {
    font-size: 0.7em;
}

.current-tab-info {
    text-align: center;
    font-weight: italic;
}

.tab-action-link {
    border: none;
    background-color: transparent;
    color: navy;
    cursor: pointer;
    font-size: 0.8em;
    /*font-family: cantarell;*/
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
}

.tab-action-link:hover {
    color: red;
    font-size: 0.9em;
}

.tab-link:hover {
    color: red;
}

#extension-links {
    width: 100%;
}

#extension-links * {
    width: 33%;
    text-align: center;
    display: inline-block;
}
