#infovis-canvaswidget {
   margin:25px 0 0 25px;
}

.tip {
    width: 200px;
}

.tip.with-preview {
    width: 500px;
}

img.preview {
    max-width: 100%;
    border: 2px;
}

ul#group-by-list {
    list-style: none;
    padding-left: 10px;
}


a:hover {
    color: red;
}

a.node-link {
    color: steelblue;
}

a.node-link:hover {
    color: red;
}

a.switch-to-tab {
    color: darkgreen;
}

a.switch-to-tab:hover {
    color: red;
}

.get-missing-categories {
    display: none;
}